body{
    font-family:'Montserrat', sans-serif;
}

/* HERO SECTION CSS  */
/* ----------------- */

a {
    color: #000; 
    cursor: pointer;
    text-decoration: none;
}

.navbar-burger {
}

.navbar {
    text-align: center;
    transition-duration: .5s;
    position: fixed;
    width: 100%;
    background-color: gray;
    z-index: 2;
    
}
#logo {
  margin-left: 5px;
  margin-right: -40px;
}


.level {
  padding: 1.5em 2em;
  position: fixed;
  width: 100%;
  background-color: lightgrey;
  font-weight: bold;
  z-index: 1;
  height: 70px;    
    
}
a#about {
    margin-right: -90px;
/*    margin-left: 80px;*/
    text-align: right;
    font-size: large;
    font-weight: 450;
}

input#search {
    margin-left: 5px;
    border-radius: 5px;
}

#heroButton {
  background-color:#f9f222;
  padding-top:24px;
  padding-bottom:24px;
  padding-left:36px;
  padding-right:36px;

  text-transform:uppercase;
  font-weight:800;
  letter-spacing:2px;
  font-size:12px;
  position:absolute;
  left:-10000px;
}

.control{
      width: 380px;
}
.container {
  margin-top: 70px;
}
#containerTop {
  margin-top: -30px;
}

/* ------------------------------------ */

/* WHO WE ARE CSS */
#whoWeAreContainer {
  margin-top:4em;
  margin-bottom:4em;
}
#whoWeAreHeader {
  font-size:2em;  /* 16* 2 = 32px*/
  letter-spacing:1px;
  font-weight: 300;
}
#whoWeAreDescription {
  margin-top:24px;
  font-size:19px;
}

/* ------------------------------------ */

/* OUR Room CSS */

.greySection {
  background-color:#f9f9f9;
}
img {
    vertical-align: text-bottom;
    border-style: none;
}
.columns .column {
    overflow: hidden;
    text-align: center;
}



img.ourRoomImages {
  width:250px;
  height:230px;
  border-radius: 15px;
}

h2.ourRoomSubHeader {
  font-size:1em; /* 16px = 1em */
  font-weight:800;
  margin-top:10px;
  margin-bottom:10px;
}

img.whoWeAreImages {
  width:300px;
  height:330px;
  border-radius: 5px;
}

div#imgSection {
    margin-left: 10px;
}


/* ----------------------- */
/* FOOTER HERO SECTION CSS */

#footerSection {
/*  background-color:#2DBDBD;*/
     background-image: linear-gradient(345deg,#d253b1,#fb6f4a);
}

.sunmi {
  border-radius: 15px;
  width: 100%;
  background-color:lightpink;
  color: darkblue;  
  padding-left: 40px;
  padding-bottom: 25px;
}

#how {
  width: 18%;
}
#whEre {
  width: 15%;
}
#footer{
  position: relative;
  width:1200px;
  height:60px;
  background-color:#2d2d2d;
  overflow:hidden;
  bottom:0;
  margin:0 auto;
  margin-bottom:10px;
  color:#6b6865; 
}

input[type=text]{
  margin:10px 0;
  padding:10px;
  font-family:'Montserrat', sans-serif;
}
textarea{
  margin-top:10px;
  padding:10px;
  font-family:'Montserrat', sans-serif;
}
.select {
      z-index: 1;
}

#datepicker1{
   width: 45%;
}

#datepicker2{
   width: 45%;
}
#email {
    width: 90%;
    
}
#password {
    width: 90%; 
}
#tiTle {
    font-family:'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 400;
}
#moreInfo {
    font-family:'Montserrat', sans-serif;
    font-size: 18.5px;
}

.ui-state-default {
    padding: .2em 2em 0;
    width: 17em;
    color: lightpink;
    padding: .2em 0;
    color: lightpink;
    top: 420px;
    left: 350px;
    z-index: 1;
}

tbody{
    display: table-row;
    vertical-align: center;
  padding-left: 10px;
}

#datepicker1 table * {
       border: none !important;
   }
table {
    border: 1px solid blue;
    border-collapse: hidden;
    border: none;
    padding: 2em 2em;
    text-align: justify;
    padding: .5em 2em
}


table.ui-datepicker-calendar {
    font-family: 'Josefin Sans', sans-serif;
    border-collapse: none;
    border-radius: 10px;
    font-size: 14px;
    padding: .2em 2em 0 0;
    width: 15em;
    padding-left: 20px;
    background-color: #d253b1;
    z-index: 1000000000;
    border-style: hidden;
}


.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    display: block;
    left: 50%;
    margin-left: -8px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
}

.ui-datepicker-header {
    padding: .2em 0;
    position: relative;
    line-height: 1.3;
}
span {
  font-size: 12px;
  color: black;
  font-weight: bold;
  letter-spacing: 1px;
}

thead {
  font-family: 'Josefin Sans', sans-serif;
/*  font-size: 10px;*/
  padding-left: 10px;
}

span.ui-datepicker-month.ui-datepicker-year {
   font-weight: bold;
}
.ui-icon.ui-icon-circle-triangle-w {
  color: #000;
  text-align: left;
  left: 2px;
}
.ui-icon.ui-icon-circle-triangle-e {
  text-align: right;
  color: #000;
  right: 2px;
}

.ui-widget .ui-widget-content .ui-helper-clearfix .ui-corner-all {
    padding: .2em 2em 0;
}

.control{
      width: 380px;
}
.button.is-text {
 text-decoration: none;
}

.control.btn_booking, .control.btn_cancel  {
   width:auto;
}

.container {
  margin-top: 70px;
}
#containerTop {
  margin-top: -30px;
}

@media (min-width: 10px) and (max-width: 1080px) {
    #level-item-1 {
    flex-grow: 1;
    display: none;
}
    #navbarMenuHeroC {
        display: none;
    }
    #navHeight {
    height: 65px;
} 
  #datepicker1 {
    width: 35%;
}
  #datepicker2 {
    width: 35%;
} 
}

 